In [1]:
import pandas as pd

In [9]:
bikes = pd.read_csv("Data/Bikes.csv")

In [10]:
bikes.describe()

               Trips
count     727.000000
mean     9378.453920
std      8977.242453
min     -4279.000000
25%      6161.500000
50%      9990.000000
75%     11759.000000
max    207398.000000

In [11]:
bikes.head()

         Date  Trips
0  01/01/2015   2611
1  02/01/2015   5155
2  03/01/2015   1718
3  04/01/2015   3711
4  05/01/2015   5262

In [12]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727 entries, 0 to 726
Data columns (total 2 columns):
Date     727 non-null object
Trips    727 non-null int64
dtypes: int64(1), object(1)
memory usage: 11.4+ KB

In [17]:
bikes["Date"] = pd.to_datetime(bikes["Date"], format="%d/%m/%Y", dayfirst=True)

In [18]:
print(bikes["Date"])

0     2015-01-01
1     2015-01-02
2     2015-01-03
3     2015-01-04
4     2015-01-05
5     2015-01-06
6     2015-01-07
7     2015-01-08
8     2015-01-09
9     2015-01-10
10    2015-01-11
11    2015-01-12
12    2015-01-13
13    2015-01-14
14    2015-01-15
15    2015-01-16
16    2015-01-17
17    2015-01-18
18    2015-01-19
19    2015-01-20
20    2015-01-21
21    2015-01-22
22    2015-01-23
23    2015-01-24
24    2015-01-25
25    2015-01-26
26    2015-01-27
27    2015-01-28
28    2015-01-29
29    2015-01-30
         ...
697   2016-12-02
698   2016-12-03
699   2016-12-04
700   2016-12-05
701   2016-12-06
702   2016-12-07
703   2016-12-08
704   2016-12-09
705   2016-12-10
706   2016-12-11
707   2016-12-12
708   2016-12-13
709   2016-12-14
710   2016-12-15
711   2016-12-16
712   2016-12-17
713   2016-12-18
714   2016-12-19
715   2016-12-20
716   2016-12-21
717   2016-12-22
718   2016-12-23
719   2016-12-24
720   2016-12-25
721   2016-12-26
722   2016-12-27
723   2016-12-28
724   2016-12-29
725   2016-12-30
726   2016-12-31
Name: Date, dtype: datetime64[ns]