In [32]:
import pandas as pd

In [33]:
bikes = pd.read_csv("Data/Bikes.csv")

In [34]:
bikes.describe()

               Trips
count     728.000000
mean     9365.571429
std      8977.797385
min     -4279.000000
25%      6150.000000
50%      9990.000000
75%     11756.500000
max    207398.000000

In [35]:
bikes.head()

         Date   Trips
0  01/01/2015  2611.0
1  02/01/2015  5155.0
2  03/01/2015  1718.0
3  04/01/2015  3711.0
4  05/01/2015  5262.0

In [36]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 2 columns):
Date     727 non-null object
Trips    728 non-null float64
dtypes: float64(1), object(1)
memory usage: 11.5+ KB

In [37]:
bikes["Date"] = pd.to_datetime(bikes["Date"], format="%d/%m/%Y", dayfirst=True)

In [38]:
bikes = bikes.dropna(axis=0, how="any")

In [39]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 727 entries, 0 to 726
Data columns (total 2 columns):
Date     727 non-null datetime64[ns]
Trips    727 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 17.0 KB

In [40]:
bikes = bikes.drop(bikes[bikes.Trips>100000].index)
bikes = bikes.drop(bikes[bikes.Trips<0].index)

In [41]:
f = open("Data/Bikes_Clean.csv","w")
f.write(bikes.to_csv(index=False))
f.close()