In [1]:
import pandas as pd

In [6]:
holidays = pd.read_csv("Data/Holidays.csv")

In [7]:
holidays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
Date       25 non-null float64
Holiday    25 non-null object
dtypes: float64(1), object(1)
memory usage: 480.0+ bytes

In [8]:
holidays.tail()

            Date                   Holiday
20  1.455494e+09     Washington's Birthday
21  1.482710e+09  Christmas Day (Observed)
22  1.467590e+09          Independence Day
23  1.476058e+09              Columbus Day
24  1.444608e+09              Columbus Day

In [10]:
holidays["Date"] = pd.to_datetime(holidays["Date"], unit="s")

In [11]:
holidays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
Date       25 non-null datetime64[ns]
Holiday    25 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 480.0+ bytes

In [12]:
holidays.tail()

         Date                   Holiday
20 2016-02-15     Washington's Birthday
21 2016-12-26  Christmas Day (Observed)
22 2016-07-04          Independence Day
23 2016-10-10              Columbus Day
24 2015-10-12              Columbus Day

In [13]:
holidays.describe()

                       Date         Holiday
count                    25              25
unique                   25              14
top     2016-02-15 00:00:00  New Year's Day
freq                      1               2
first   2015-01-01 00:00:00             NaN
last    2016-12-26 00:00:00             NaN