In [1106]:
import calendar
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib
%matplotlib inline

In [1107]:
data = pd.read_csv("Data/Initial_Dataset.csv")

In [1108]:
data.describe()

,Trips,Holiday,PRCP,SNOW,TMAX,TMIN,TAVG,AWND,Month,Weekday
count,709.000000,709.000000,709.000000,709.000000,709.000000,709.000000,709.000000,709.000000,709.000000,709.000000
mean,8993.145275,0.033850,2.674753,1.052186,20.601128,11.216361,15.665726,3.749788,6.547250,2.991537
std,3385.366870,0.180972,7.002229,9.654707,10.229481,9.662019,9.724490,1.464655,3.422604,1.986519
min,501.000000,0.000000,0.000000,0.000000,-6.600000,-14.900000,-10.600000,0.500000,1.000000,0.000000
25%,6141.000000,0.000000,0.000000,0.000000,12.800000,3.900000,8.100000,2.700000,4.000000,1.000000
50%,10046.000000,0.000000,0.000000,0.000000,21.100000,11.100000,16.000000,3.500000,7.000000,3.000000
75%,11764.000000,0.000000,1.000000,0.000000,30.000000,20.000000,24.600000,4.600000,10.000000,5.000000
max,16726.000000,1.000000,69.900000,165.000000,38.300000,27.800000,32.800000,9.800000,12.000000,6.000000

In [1109]:
data.corr()["Trips"]

Trips      1.000000
Holiday   -0.107747
PRCP      -0.249116
SNOW      -0.227810
TMAX       0.810100
TMIN       0.747101
TAVG       0.788895
AWND      -0.187873
Month      0.265310
Weekday   -0.075101
Name: Trips, dtype: float64

In [1110]:
data = data.drop(axis=1, labels = ["Weekday", "Month"])

In [1111]:
X = data.drop("Trips",axis=1)
Y = data[["Trips"]]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
Y_train = Y_train.values.ravel()

In [1112]:
X_train.head()

     Holiday  PRCP  SNOW  TMAX  TMIN  TAVG  AWND  Month
310        0   0.0   0.0  21.1   5.6  12.7   1.6     11
523        0   8.9   0.0  30.6  20.0  24.7   4.5      6
24         0   5.3  13.0   7.8  -1.6   4.6   5.9      1
158        0   0.5   0.0  34.4  25.0  29.3   4.3      6
549        0   0.0   0.0  36.7  26.1  31.2   3.8      7

In [1113]:
test.describe()

,Trips,Holiday,PRCP,SNOW,TMAX,TMIN,TAVG,AWND,Month,Weekday
count,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000
mean,9048.626761,0.035211,2.495070,1.866197,20.149296,10.665493,15.326761,3.662676,6.084507,2.894366
std,3411.855492,0.184966,7.049464,12.683954,10.875653,10.408889,10.358263,1.405945,3.359105,1.934046
min,501.000000,0.000000,0.000000,0.000000,-5.500000,-14.900000,-10.600000,1.300000,1.000000,0.000000
25%,5980.000000,0.000000,0.000000,0.000000,11.100000,2.800000,7.275000,2.600000,3.000000,1.000000
50%,10186.500000,0.000000,0.000000,0.000000,20.600000,10.300000,15.050000,3.500000,7.000000,3.000000
75%,11835.000000,0.000000,0.500000,0.000000,30.000000,20.600000,24.675000,4.300000,8.000000,5.000000
max,14116.000000,1.000000,60.200000,122.000000,37.200000,27.800000,31.600000,8.200000,12.000000,6.000000

In [1114]:
from sklearn.metrics import mean_squared_error
import numpy as np

In [1115]:
from sklearn.cross_validation import cross_val_score

In [1116]:
def results(scores, mse):
    print("Root Mean Squared Error:",np.sqrt(mse))
    rmse_scores = np.sqrt(-scores)
    print("Scores:",scores)
    print("Mean:",scores.mean())
    print("Std. Dev:",scores.std())

In [1117]:
data.head()

    Trips  Holiday  PRCP  SNOW  TMAX  TMIN  TAVG  AWND  Month
0  2611.0        1   0.0   0.0   8.3  -2.7   1.7   3.7      1
1  5155.0        0   0.0   0.0   9.4   1.7   5.3   1.3      1
2  1718.0        0  12.7   0.0   5.6   1.1   4.0   1.5      1
3  5262.0        0   0.0   0.0  11.1  -1.6   7.8   6.4      1
4  2086.0        0   5.1  61.0   0.0  -4.3  -1.9   2.2      1

# Grid Search

In [1118]:
def GridSearch(reg, params):
    grid = GridSearchCV(reg, params, cv=10, scoring = "neg_mean_squared_error")
    grid.fit(X_train, Y_train)
    return (grid.best_params_)

# Regressor Test

In [1119]:
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.decomposition import PCA

def RegressorTest(Regressor, params):
    reg = Regressor()
    result = GridSearch(reg, params)
    print(result)
    
    reg = Regressor(**result)
    std_reg = make_pipeline(StandardScaler(),PCA(n_components=4), reg)
   
    std_reg.fit(X_train, Y_train)
    Y_predict = std_reg.predict(X_test)
    mse = mean_squared_error(Y_predict, Y_test)

    scores = cross_val_score(reg, X_train, Y_train, scoring = "neg_mean_squared_error", cv=10)
    rmse_scores = np.sqrt(-scores)
    results(rmse_scores, mse)

# Linear Regressor

In [1120]:
from sklearn.linear_model import LinearRegression
params = [{"fit_intercept":[True, False], "normalize":[True,False]}]
#RegressorTest(LinearRegression, params)

# Random Forest Regressor

In [1121]:
from sklearn.ensemble import RandomForestRegressor
params = [{'n_estimators': [200], 'max_features':["auto","sqrt","log2"], "min_impurity_decrease":[0,0.01,0.1,1,10]}]
#RegressorTest(RandomForestRegressor, params)

# KNN Regressor

In [1122]:
from sklearn.neighbors import KNeighborsRegressor
params = [{'n_neighbors': [7,10,13], 'leaf_size':[35], 'weights':["uniform","distance"], "algorithm": ["ball_tree", "kd_tree", "brute", "auto"], "p":[1,2]}]
#RegressorTest(KNeighborsRegressor, params)

# Gaussian Process Regressor

In [1123]:
from sklearn.gaussian_process import GaussianProcessRegressor
params = [{"normalize_y":[False]}]
#RegressorTest(GaussianProcessRegressor, params)

# SGD Regressor

In [1124]:
from sklearn.linear_model import SGDRegressor
params = [{"max_iter":[20000], "penalty":[None, "l1","l2"], "eta0":[0.005]}]
#RegressorTest(SGDRegressor, params)

# Ridge

In [1125]:
from sklearn.linear_model import Ridge
params = [{"solver":["auto", "lsqr", "sag"]}]
#RegressorTest(Ridge, params)

# Lasso

In [1126]:
from sklearn.linear_model import Lasso
params = [{"selection":["cyclic","random"]}]
#RegressorTest(Lasso, params)

# SVR

In [1127]:
from sklearn.svm import SVR
params = {"C":[5500, 6000, 6500], "epsilon":[0.15, 0.2]}
#RegressorTest(SVR, params)

# Decision Tree

In [1128]:
from sklearn.tree import DecisionTreeRegressor
params = {"criterion":["mse", "friedman_mse"], "max_features":["auto", "sqrt", "log2"]}
#RegressorTest(DecisionTreeRegressor, params)

# Bagging Regressor Ensemble

In [1129]:
from sklearn.ensemble import BaggingRegressor
"""reg = BaggingRegressor(base_estimator=\
                           RandomForestRegressor(**{'n_estimators': 200, 'max_features':"sqrt", "min_impurity_decrease":10}))

std_reg = make_pipeline(StandardScaler(), reg)

std_reg.fit(X_train, Y_train)
Y_predict = std_reg.predict(X_test)
mse = mean_squared_error(Y_predict, Y_test)

scores = cross_val_score(reg, X_train, Y_train, scoring = "neg_mean_squared_error", cv=10)
rmse_scores = np.sqrt(-scores)
results(rmse_scores, mse)
"""

'reg = BaggingRegressor(base_estimator=                           RandomForestRegressor(**{\'n_estimators\': 200, \'max_features\':"sqrt", "min_impurity_decrease":10}))\n\nstd_reg = make_pipeline(StandardScaler(), reg)\n\nstd_reg.fit(X_train, Y_train)\nY_predict = std_reg.predict(X_test)\nmse = mean_squared_error(Y_predict, Y_test)\n\nscores = cross_val_score(reg, X_train, Y_train, scoring = "neg_mean_squared_error", cv=10)\nrmse_scores = np.sqrt(-scores)\nresults(rmse_scores, mse)\n'

In [1130]:
Test_Data_1 = pd.read_csv("Data/Testing.csv")
Test_Data = Test_Data_1.drop(axis=1, labels = ["ID"])
Test_Data = Test_Data.drop(axis=1, labels = ["SNWD"])
Test_Data = Test_Data.drop(axis=1, labels = ["Weekday", "Month"])

In [1131]:
#reg = RandomForestRegressor(**{'n_estimators': 200, 'max_features':"sqrt", "min_impurity_decrease":10})
reg = KNeighborsRegressor(**{'algorithm': 'ball_tree', 'leaf_size': 40, 'n_neighbors': 7, 'weights': 'distance'})
#std_reg = make_pipeline(StandardScaler(),PCA(n_components=4), reg)
reg.fit(X_train, Y_train)
Test_Predictions = reg.predict(Test_Data)

In [1132]:
result = pd.DataFrame(Test_Predictions, columns = ["Total"])
result["ID"] = Test_Data_1["ID"]
cols = result.columns.tolist()
cols = cols[-1:] + cols[:-1]
result = result[cols]

In [1133]:
f = open("Results.csv", "w")
f.write(result.to_csv(index=False))
f.close()

In [1135]:
Test_Data["Trips"] = Test_Predictions
Test_Data.corr()["Trips"]

Month      0.087418
AWND      -0.485870
PRCP      -0.339623
SNOW       0.046931
TAVG       0.804252
TMAX       0.823992
TMIN       0.779153
Holiday    0.027881
Trips      1.000000
Name: Trips, dtype: float64